.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f3f8ff;
}

.hero-content {
  max-width: 50%;
  margin-right: 50px;
}

.hero-content h1 {
  font-size: 60px;
  color: #02033b;
  margin-bottom: 20px;
  font-family: "TWKLausanne", sans-serif;
  box-sizing: inherit;
}

.hero-content p {
  margin-bottom: 30px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
  box-sizing: inherit;
  color: #02033b;
  font-family: "TWKLausanne", sans-serif;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #ffb347;
  color: white;
}

.btn-secondary {
  background-color: #06104e;
  color: white;
}

.hero-image img {
  max-width: 400px;
  border-radius: 10px;
}
