.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5faff;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffb347;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-menu li a {
  text-decoration: none;
  color: #06104e;
  font-size: 1rem;
}

.signin-btn {
  background-color: #5c2dff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
