:root {
    --primary-color: #02033b;
    --secondary-color: #ffc247;
    --background-light: #f5faff;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-light);
  }
  
  .btn-primary {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: #e6a63c;
  }
  @media (max-width: 768px) {
    .navbar-menu {
      flex-direction: column;
      gap: 10px;
    }
  
    .hero {
      flex-direction: column;
      text-align: center;
    }
  }
    